<!DOCTYPE html>
<html>
<head>

  <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/skeleton.css">

</head>
<body>

    <div id="nav">
      <a href="/logout" class='navitem'>Logout</a>
      <a href="/user" class='navitem'>Search Page</a>
    </div>

{{#app}}
 <div class="doctorInfo2">
  <h2 id="deleteName">{{name}}</h2>
  <p>{{phone}}<p>
  <p>Note:</p>
  <!-- <p id="note">{{note}}</p> -->
<!--   <label for='noteUpdate'>What's wrong?</label>
  <input type="text" id="noteUpdate"/> -->
  <textarea id='noteUpdate'>
  {{note}}
  </textarea>
  <button class="updateNote">Update Note</button>
  <button class="remove">Remove</button>
 </div>
{{/app}}

</body>
  <script src="../scripts/jquery.js" type="text/javascript"></script>
  <script src="../scripts/script.js" type="text/javascript"></script>
</html>
